<div class="row">
  <form action="/" method="post">
    <div class="col-md-4">
      <div class="well">
          <div class="form-group">
            <h3>Select your languages:</h3>
            <div class="row">
              <div class="col-xs-2"><input type="checkbox">C#</input></div>
              <div class="col-xs-2"><input type="checkbox">Java</input></div>
              <div class="col-xs-2"><input type="checkbox">PHP</input></div>
              <div class="col-xs-2"><input type="checkbox">Ruby</input></div>
              <div class="col-xs-2"><input type="checkbox">Android</input></div>
              <div class="col-xs-2"><input type="checkbox">Drupal</input></div>
            </div>
            <div class="row">
              <div class="col-xs-2"><input type="checkbox">.NET</input></div>
              <div class="col-xs-2"><input type="checkbox">Rails</input></div>
              <div class="col-xs-2"><input type="checkbox">React</input></div>
              <div class="col-xs-2"><input type="checkbox">Ember.js</input></div>
              <div class="col-xs-2"><input type="checkbox">Swift</input></div>
              <div class="col-xs-2"><input type="checkbox">Python</input></div>
            </div>
          </div>

          <div class="form-group">


            <h3>Please input your options:</h3>
            <h5>Location:</h5>
            <select>
              <option>asabilene, TX</option>
              <option>akron / canton</option>
              <option>albany, GA</option>
              <option>albany, NY</option>
              <option>albuquerque</option>
              <option>altoona-johnstown</option>
              <option>amarillo, TX</option>
              <option>ames, IA</option>
              <option>anchorage / mat-su</option>
              <option>annapolis, MD</option>
              <option>ann arbor, MI</option>
              <option>appleton-oshkosh-FDL</option>
              <option>asheville, NC</option>
              <option>ashtabula, OH</option>
              <option>athens, GA</option>
              <option>athens, OH</option>
              <option>atlanta, GA</option>
              <option>auburn, AL</option>
              <option>augusta, GA</option>
              <option>austin, TX</option>
              <option>bakersfield, CA</option>
              <option>baltimore, MD</option>
              <option>baton rouge</option>
              <option>battle creek, MI</option>
              <option>beaumont / port arthur</option>
              <option>bellingham, WA</option>
              <option>bemidji, MN</option>
              <option>bend, OR</option>
              <option>billings, MT</option>
              <option>binghamton, NY</option>
              <option>birmingham, AL</option>
              <option>bismarck, ND</option>
              <option>bloomington, IN</option>
              <option>bloomington-normal</option>
              <option>boise, ID</option>
              <option>boone, NC</option>
              <option>boston - includes merrimack valley, metro west, north shore, south shore</option>
              <option>boulder, CO</option>
              <option>bowling green, KY</option>
              <option>bozeman, MT</option>
              <option>brainerd, MN</option>
              <option>brownsville, TX</option>
              <option>brunswick, GA</option>
              <option>buffalo, NY</option>
              <option>butte, MT</option>
              <option>cape cod / islands</option>
              <option>catskills</option>
              <option>cedar rapids, IA</option>
              <option>central louisiana</option>
              <option>central michigan</option>
              <option>central NJ</option>
              <option>champaign urbana</option>
              <option>charleston, SC</option>
              <option>charleston, WV</option>
              <option>charlotte, NC</option>
              <option>charlottesville, VA</option>
              <option>chattanooga, TN</option>
              <option>chautauqua, NY</option>
              <option>chicago</option>
              <option>chico, CA</option>
              <option>chillicothe, OH</option>
              <option>cincinnati, OH</option>
              <option>clarksville, TN</option>
              <option>cleveland, OH</option>
              <option>clovis / portales</option>
              <option>college station, TX</option>
              <option>colorado springs</option>
              <option>columbia / jeff city</option>
              <option>columbia, SC</option>
              <option>columbus, GA</option>
              <option>columbus, OH</option>
              <option>cookeville, TN</option>
              <option>corpus christi, TX</option>
              <option>corvallis/albany</option>
              <option>cumberland valley</option>
              <option>dallas / fort worth</option>
              <option>danville</option>
              <option>daytona beach</option>
              <option>dayton / springfield</option>
              <option>decatur, IL</option>
              <option>deep east texas</option>
              <option>delaware</option>
              <option>del rio / eagle pass</option>
              <option>denver, CO</option>
              <option>des moines, IA</option>
              <option>detroit metro</option>
              <option>dothan, AL</option>
              <option>dubuque</option>
              <option>duluth / superior</option>
              <option>eastern CO</option>
              <option>eastern CT</option>
              <option>eastern kentucky</option>
              <option>eastern montana</option>
              <option>eastern NC</option>
              <option>eastern panhandle</option>
              <option>eastern shore</option>
              <option>east idaho</option>
              <option>east oregon</option>
              <option>eau claire, WI</option>
              <option>elko, NV</option>
              <option>elmira-corning</option>
              <option>el paso, TX</option>
              <option>erie, PA</option>
              <option>eugene, OR</option>
              <option>evansville, IN</option>
              <option>fairbanks, AK</option>
              <option>fargo / moorhead</option>
              <option>farmington, NM</option>
              <option>fayetteville, AR</option>
              <option>fayetteville, NC</option>
              <option>finger lakes, NY</option>
              <option>flagstaff / sedona</option>
              <option>flint, MI</option>
              <option>florence / muscle shoals</option>
              <option>florence, SC</option>
              <option>florida keys</option>
              <option>fort collins / north CO</option>
              <option>fort dodge, IA</option>
              <option>fort smith, AR</option>
              <option>fort wayne, IN</option>
              <option>frederick, MD</option>
              <option>fredericksburg, VA</option>
              <option>fresno / madera</option>
              <option>ft myers / SW florida</option>
              <option>gadsden-anniston</option>
              <option>gainesville, FL</option>
              <option>galveston, TX</option>
              <option>glens falls, NY</option>
              <option>gold country</option>
              <option>grand forks</option>
              <option>grand island, NE</option>
              <option>grand rapids, MI</option>
              <option>great falls, MT</option>
              <option>green bay, WI</option>
              <option>greensboro, NC</option>
              <option>greenville / upstate</option>
              <option>gulfport / biloxi</option>
              <option>hanford-corcoran</option>
              <option>harrisburg, PA</option>
              <option>harrisonburg, VA</option>
              <option>hartford, CT</option>
              <option>hattiesburg, MS</option>
              <option>hawaii</option>
              <option>heartland florida</option>
              <option>helena, MT</option>
              <option>hickory / lenoir</option>
              <option>high rockies</option>
              <option>hilton head</option>
              <option>holland, MI</option>
              <option>houma, LA</option>
              <option>houston, TX</option>
              <option>hudson valley, NY</option>
              <option>humboldt county</option>
              <option>huntington-ashland</option>
              <option>huntsville / decatur</option>
              <option>imperial county</option>
              <option>indianapolis</option>
              <option>inland empire, CA - riverside and san bernardino counties</option>
              <option>iowa city, IA</option>
              <option>ithaca, NY</option>
              <option>jackson, MI</option>
              <option>jackson, MS</option>
              <option>jackson, TN</option>
              <option>jacksonville, FL</option>
              <option>jacksonville, NC</option>
              <option>janesville, WI</option>
              <option>jersey shore</option>
              <option>jonesboro, AR</option>
              <option>joplin, MO</option>
              <option>kalamazoo, MI</option>
              <option>kalispell, MT</option>
              <option>kansas city, MO</option>
              <option>kenai peninsula</option>
              <option>kennewick-pasco-richland</option>
              <option>kenosha-racine</option>
              <option>killeen / temple / ft hood</option>
              <option>kirksville, MO</option>
              <option>klamath falls, OR</option>
              <option>knoxville, TN</option>
              <option>kokomo, IN</option>
              <option>la crosse, WI</option>
              <option>lafayette, LA</option>
              <option>lafayette / west lafayette</option>
              <option>lake charles, LA</option>
              <option>lakeland, FL</option>
              <option>lake of the ozarks</option>
              <option>lancaster, PA</option>
              <option>lansing, MI</option>
              <option>laredo, TX</option>
              <option>la salle co</option>
              <option>las cruces, NM</option>
              <option>las vegas</option>
              <option>lawrence, KS</option>
              <option>lawton, OK</option>
              <option>lehigh valley</option>
              <option>lewiston / clarkston</option>
              <option>lexington, KY</option>
              <option>lima / findlay</option>
              <option>lincoln, NE</option>
              <option>little rock</option>
              <option>logan, UT</option>
              <option>long island, NY</option>
              <option>los angeles</option>
              <option>louisville, KY</option>
              <option>lubbock, TX</option>
              <option>lynchburg, VA</option>
              <option>macon / warner robins</option>
              <option>madison, WI</option>
              <option>maine</option>
              <option>manhattan, KS</option>
              <option>mankato, MN</option>
              <option>mansfield, OH</option>
              <option>mason city, IA</option>
              <option>mattoon-charleston</option>
              <option>mcallen / edinburg</option>
              <option>meadville, PA</option>
              <option>medford-ashland</option>
              <option>memphis, TN</option>
              <option>mendocino county</option>
              <option>merced, CA</option>
              <option>meridian, MS</option>
              <option>milwaukee, WI</option>
              <option>minneapolis / st paul</option>
              <option>missoula, MT</option>
              <option>mobile, AL</option>
              <option>modesto, CA</option>
              <option>mohave county</option>
              <option>monroe, LA</option>
              <option>monroe, MI</option>
              <option>monterey bay</option>
              <option>montgomery, AL</option>
              <option>morgantown, WV</option>
              <option>moses lake, WA</option>
              <option>muncie / anderson</option>
              <option>muskegon, MI</option>
              <option>myrtle beach, SC</option>
              <option>nashville, TN</option>
              <option>new hampshire</option>
              <option>new haven, CT</option>
              <option>new orleans</option>
              <option>new river valley - blacksburg, christiansburg, radford, etc</option>
              <option>new york city</option>
              <option>norfolk / hampton roads</option>
              <option>north central FL</option>
              <option>north dakota</option>
              <option>northeast SD</option>
              <option>northern michigan</option>
              <option>northern panhandle</option>
              <option>northern WI</option>
              <option>north jersey</option>
              <option>north mississippi</option>
              <option>north platte, NE</option>
              <option>northwest CT</option>
              <option>northwest GA</option>
              <option>northwest KS</option>
              <option>northwest OK</option>
              <option>ocala, FL</option>
              <option>odessa / midland</option>
              <option>ogden-clearfield</option>
              <option>okaloosa / walton</option>
              <option>oklahoma city</option>
              <option>olympic peninsula</option>
              <option>omaha / council bluffs</option>
              <option>oneonta, NY</option>
              <option>orange county, CA</option>
              <option>oregon coast</option>
              <option>orlando, FL</option>
              <option>outer banks</option>
              <option>owensboro, KY</option>
              <option>palm springs, CA</option>
              <option>panama city, FL</option>
              <option>parkersburg-marietta</option>
              <option>pensacola, FL</option>
              <option>peoria, IL</option>
              <option>philadelphia</option>
              <option>phoenix, AZ</option>
              <option>pierre / central SD</option>
              <option>pittsburgh, PA</option>
              <option>plattsburgh-adirondacks</option>
              <option>poconos</option>
              <option>port huron, MI</option>
              <option>portland, OR</option>
              <option>potsdam-canton-massena</option>
              <option>prescott, AZ</option>
              <option>provo / orem</option>
              <option>pueblo, CO</option>
              <option>pullman / moscow</option>
              <option>quad cities, IA/IL</option>
              <option>raleigh / durham / CH</option>
              <option>rapid city / west SD</option>
              <option>reading, PA</option>
              <option>redding, CA</option>
              <option>reno / tahoe</option>
              <option>rhode island</option>
              <option>richmond, IN</option>
              <option>richmond, VA</option>
              <option>roanoke, VA</option>
              <option>rochester, MN</option>
              <option>rochester, NY</option>
              <option>rockford, IL</option>
              <option>roseburg, OR</option>
              <option>roswell / carlsbad</option>
              <option>sacramento</option>
              <option>saginaw-midland-baycity</option>
              <option>salem, OR</option>
              <option>salina, KS</option>
              <option>salt lake city</option>
              <option>san angelo, TX</option>
              <option>san antonio</option>
              <option>san diego</option>
              <option>sandusky, OH</option>
              <option>san luis obispo</option>
              <option>san marcos, TX</option>
              <option>santa barbara</option>
              <option>santa fe / taos</option>
              <option>santa maria, CA</option>
              <option>sarasota-bradenton</option>
              <option>savannah / hinesville</option>
              <option>scottsbluff / panhandle</option>
              <option>scranton / wilkes-barre</option>
              <option>seattle-tacoma</option>
              <option>SF bay area</option>
              <option>sheboygan, WI</option>
              <option>show low, AZ</option>
              <option>shreveport, LA</option>
              <option>sierra vista, AZ</option>
              <option>sioux city, IA</option>
              <option>sioux falls / SE SD</option>
              <option>siskiyou county</option>
              <option>skagit / island / SJI</option>
              <option>south bend / michiana</option>
              <option>south coast, MA - southern bristol and plymouth counties</option>
              <option>south dakota</option>
              <option>southeast alaska</option>
              <option>southeast IA</option>
              <option>southeast KS</option>
              <option>southeast missouri</option>
              <option>southern illinois</option>
              <option>southern maryland</option>
              <option>southern WV</option>
              <option>south florida - includes separate sections for miami/dade, broward, and palm beach counties</option>
              <option>south jersey</option>
              <option>southwest KS</option>
              <option>southwest michigan</option>
              <option>southwest MN</option>
              <option>southwest MS</option>
              <option>southwest TX</option>
              <option>southwest VA</option>
              <option>space coast, FL</option>
              <option>spokane / coeur d'alene</option>
              <option>springfield, IL</option>
              <option>springfield, MO</option>
              <option>state college, PA</option>
              <option>statesboro, GA</option>
              <option>st augustine, FL</option>
              <option>st cloud, MN</option>
              <option>st george, UT</option>
              <option>stillwater, OK</option>
              <option>st joseph</option>
              <option>st louis, MO</option>
              <option>stockton, CA</option>
              <option>susanville, CA</option>
              <option>syracuse, NY</option>
              <option>tallahassee</option>
              <option>tampa bay area</option>
              <option>terre haute, IN</option>
              <option>texarkana</option>
              <option>texoma</option>
              <option>the thumb, MI</option>
              <option>toledo, OH</option>
              <option>topeka, KS</option>
              <option>treasure coast, FL</option>
              <option>tri-cities, TN</option>
              <option>tucson, AZ</option>
              <option>tulsa, OK</option>
              <option>tuscaloosa</option>
              <option>tuscarawas co</option>
              <option>twin falls, ID</option>
              <option>twin tiers NY/PA</option>
              <option>tyler / east TX</option>
              <option>upper peninsula, MI</option>
              <option>utica-rome-oneida</option>
              <option>valdosta, GA</option>
              <option>ventura county</option>
              <option>vermont</option>
              <option>victoria, TX</option>
              <option>visalia-tulare</option>
              <option>waco, TX</option>
              <option>washington, DC</option>
              <option>waterloo / cedar falls</option>
              <option>watertown, NY</option>
              <option>wausau, WI</option>
              <option>wenatchee, WA</option>
              <option>western IL</option>
              <option>western KY</option>
              <option>western maryland</option>
              <option>western massachusetts</option>
              <option>western slope</option>
              <option>west virginia (old)</option>
              <option>wichita falls, TX</option>
              <option>wichita, KS</option>
              <option>williamsport, PA</option>
              <option>wilmington, NC</option>
              <option>winchester, VA</option>
              <option>winston-salem, NC</option>
              <option>worcester / central MA</option>
              <option>wyoming</option>
              <option>yakima, WA</option>
              <option>york, PA</option>
              <option>youngstown, OH</option>
              <option>yuba-sutter, CA</option>
              <option>yuma, AZ</option>
              <option>zanesville / cambridge</option>
            </select>
            <h5>Experience Level:</h5>
            <select class="" name="">
              <option>Entry</option>
              <option>Mid</option>
              <option>Senior</option>
            </select>
            <h5>Search Radius:</h5>
            <select class="" name="">
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>25</option>
              <option>50</option>
              <option>100</option>
              <option>150</option>
            </select>

          </div>
          <button type="submit" class="btn btn-primary btn-lg">Get Results</button>
      </div>
    </div>

    <div class="col-md-8">
      <div class="well">
        <h3 class="text-center">Your Jobs:</h3>
      </div>
      <div class="well">
        <h3 class="text-center">Suggested Meetups:</h3>
        <div class="form-group">
        <% @meetups.first(15).each do |meetup| %>
          <% time = Time.at(meetup.time / 1000) %>
          <h4 class="inline">
            <input class="pin" type="checkbox" name="<%= meetup.id %>" value="pinned"<%= if meetup.pinned then "checked" end %>>
            <a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a>
          </h4>
          <p class="inline"><%= time.strftime("%m/%d") %>, <%= meetup.venue_city %><p>
        <% end %>
      </div>
      </div>
    </div>
  </form>
</div>
