<div class="well">
  <h1 class="text-center">Welcome to Job Search!</h1>
  <h4 class="text-center"><em>The first step to your full stack career.</em></h4>
</div>
<div class="row">
  <form action="/" method="post">
    <div class="col-md-4">
      <div class="well">
        <div class="form-group">
          <h3>Select your languages:</h3>
          <div class="row">
            <div class="col-sm-4"><input name="item[]" value="c#" type="checkbox" id="csharp"> <label for="csharp">C#</label></div>
            <div class="col-sm-4"><input name="item[]" value="java" type="checkbox" id="java"> <label for="java">Java</label></div>
            <div class="col-sm-4"><input name="item[]" value="php" type="checkbox" id="php"> <label for="php">PHP</label></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><input name="item[]" value="ruby" type="checkbox" id="ruby"> <label for="ruby">Ruby</label></div>
            <div class="col-sm-4"><input name="item[]" value="android" type="checkbox" id="android"> <label for="android">Android</label></div>
            <div class="col-sm-4"><input name="item[]" value="drupal" type="checkbox" id="drupal"> <label for="drupal">Drupal</label></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><input name="item[]" value=".NET" type="checkbox" id="dotnet"> <label for="dotnet">.NET</label></div>
            <div class="col-sm-4"><input name="item[]" value="rails" type="checkbox" id="rails"> <label for="rails">Rails</label></div>
            <div class="col-sm-4"><input name="item[]" value="react" type="checkbox" id="react"> <label for="react">React</label></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><input name="item[]" value="ember.js" type="checkbox" id="emberjs"> <label for="emberjs">Ember.js</label></div>
            <div class="col-sm-4"><input name="item[]" value="swift" type="checkbox" id="swift"> <label for="swift">Swift</label></div>
            <div class="col-sm-4"><input name="item[]" value="python" type="checkbox" id="python"> <label for="python">Python</label></div>
          </div>
        </div>

        <div class="form-group">
          <h3>Please input your options:</h3>
          <h5>Location (ordered by craigslist location names):</h5>
          <select name="location">
            <option>portland</option>
            <option>auburn</option><option>birmingham</option><option>dothan</option><option>florence / muscle shoals</option><option>gadsden-anniston</option><option>huntsville / decatur</option><option>mobile</option><option>montgomery</option><option>tuscaloosa</option><option>anchorage / mat-su</option><option>fairbanks</option><option>kenai peninsula</option><option>southeast alaska</option><option>flagstaff / sedona</option><option>mohave county</option><option>phoenix</option><option>prescott</option><option>show low</option><option>sierra vista</option><option>tucson</option><option>yuma</option><option>fayetteville </option><option>fort smith</option><option>jonesboro</option><option>little rock</option><option>texarkana</option><option>bakersfield</option><option>chico</option><option>fresno / madera</option><option>gold country</option><option>hanford-corcoran</option><option>humboldt county</option><option>imperial county</option><option>inland empire</option><option>los angeles</option><option>mendocino county</option><option>merced</option><option>modesto</option><option>monterey bay</option><option>orange county</option><option>palm springs</option><option>redding</option><option>sacramento</option><option>san diego</option><option>san francisco bay area</option><option>san luis obispo</option><option>santa barbara</option><option>santa maria</option><option>siskiyou county</option><option>stockton</option><option>susanville</option><option>ventura county</option><option>visalia-tulare</option><option>yuba-sutter</option><option>boulder</option><option>colorado springs</option><option>denver</option><option>eastern CO</option><option>fort collins / north CO</option><option>high rockies</option><option>pueblo</option><option>western slope</option><option>eastern CT</option><option>hartford</option><option>new haven</option><option>northwest CT</option><option>delaware</option><option>washington</option><option>broward county</option><option>daytona beach</option><option>florida keys</option><option>fort lauderdale</option><option>ft myers / SW florida</option><option>gainesville</option><option>heartland florida</option><option>jacksonville</option><option>lakeland</option><option>miami / dade</option><option>north central FL</option><option>ocala</option><option>okaloosa / walton</option><option>orlando</option><option>panama city</option><option>pensacola</option><option>sarasota-bradenton</option><option>south florida</option><option>space coast</option><option>st augustine</option><option>tallahassee</option><option>tampa bay area</option><option>treasure coast</option><option>palm beach county</option><option>albany </option><option>athens</option><option>atlanta</option><option>augusta</option><option>brunswick</option><option>columbus </option><option>macon / warner robins</option><option>northwest GA</option><option>savannah / hinesville</option><option>statesboro</option><option>valdosta</option><option>hawaii</option><option>boise</option><option>east idaho</option><option>lewiston / clarkston</option><option>twin falls</option><option>bloomington-normal</option><option>champaign urbana</option><option>chicago</option><option>decatur</option><option>la salle co</option><option>mattoon-charleston</option><option>peoria</option><option>rockford</option><option>southern illinois</option><option>springfield </option><option>western IL</option><option>bloomington</option><option>evansville</option><option>fort wayne</option><option>indianapolis</option><option>kokomo</option><option>lafayette / west lafayette</option><option>muncie / anderson</option><option>richmond </option><option>south bend / michiana</option><option>terre haute</option><option>ames</option><option>cedar rapids</option><option>des moines</option><option>dubuque</option><option>fort dodge</option><option>iowa city</option><option>mason city</option><option>quad cities</option><option>sioux city</option><option>southeast IA</option><option>waterloo / cedar falls</option><option>lawrence</option><option>manhattan</option><option>northwest KS</option><option>salina</option><option>southeast KS</option><option>southwest KS</option><option>topeka</option><option>wichita</option><option>bowling green</option><option>eastern kentucky</option><option>lexington</option><option>louisville</option><option>owensboro</option><option>western KY</option><option>baton rouge</option><option>central louisiana</option><option>houma</option><option>lafayette</option><option>lake charles</option><option>monroe</option><option>new orleans</option><option>shreveport</option><option>maine</option><option>annapolis</option><option>baltimore</option><option>eastern shore</option><option>frederick</option><option>southern maryland</option><option>western maryland</option><option>boston</option><option>cape cod / islands</option><option>south coast</option><option>western massachusetts</option><option>worcester / central MA</option><option>ann arbor</option><option>battle creek</option><option>central michigan</option><option>detroit metro</option><option>flint</option><option>grand rapids</option><option>holland</option><option>jackson </option><option>kalamazoo</option><option>lansing</option><option>monroe </option><option>muskegon</option><option>northern michigan</option><option>port huron</option><option>saginaw-midland-baycity</option><option>southwest michigan</option><option>the thumb</option><option>upper peninsula</option><option>bemidji</option><option>brainerd</option><option>duluth / superior</option><option>mankato</option><option>minneapolis / st paul</option><option>rochester </option><option>southwest MN</option><option>st cloud</option><option>gulfport / biloxi</option><option>hattiesburg</option><option>jackson</option><option>meridian</option><option>north mississippi</option><option>southwest MS</option><option>columbia / jeff city</option><option>joplin</option><option>kansas city</option><option>kirksville</option><option>lake of the ozarks</option><option>southeast missouri</option><option>springfield</option><option>st joseph</option><option>st louis</option><option>billings</option><option>bozeman</option><option>butte</option><option>great falls</option><option>helena</option><option>kalispell</option><option>missoula</option><option>eastern montana</option><option>grand island</option><option>lincoln</option><option>north platte</option><option>omaha / council bluffs</option><option>scottsbluff / panhandle</option><option>elko</option><option>las vegas</option><option>reno / tahoe</option><option>new hampshire</option><option>central NJ</option><option>jersey shore</option><option>north jersey</option><option>south jersey</option><option>albuquerque</option><option>clovis / portales</option><option>farmington</option><option>las cruces</option><option>roswell / carlsbad</option><option>santa fe / taos</option><option>albany</option><option>binghamton</option><option>buffalo</option><option>catskills</option><option>chautauqua</option><option>elmira-corning</option><option>finger lakes</option><option>glens falls</option><option>hudson valley</option><option>ithaca</option><option>long island</option><option>new york city</option><option>oneonta</option><option>plattsburgh-adirondacks</option><option>potsdam-canton-massena</option><option>rochester</option><option>syracuse</option><option>twin tiers NY/PA</option><option>utica-rome-oneida</option><option>watertown</option><option>asheville</option><option>boone</option><option>charlotte</option><option>eastern NC</option><option>fayetteville</option><option>greensboro</option><option>hickory / lenoir</option><option>jacksonville </option><option>outer banks</option><option>raleigh / durham / CH</option><option>wilmington</option><option>winston-salem</option><option>bismarck</option><option>fargo / moorhead</option><option>grand forks</option><option>north dakota</option><option>akron / canton</option><option>ashtabula</option><option>athens </option><option>chillicothe</option><option>cincinnati</option><option>cleveland</option><option>columbus</option><option>dayton / springfield</option><option>lima / findlay</option><option>mansfield</option><option>sandusky</option><option>toledo</option><option>tuscarawas co</option><option>youngstown</option><option>zanesville / cambridge</option><option>lawton</option><option>northwest OK</option><option>oklahoma city</option><option>stillwater</option><option>tulsa</option><option>bend</option><option>corvallis/albany</option><option>east oregon</option><option>eugene</option><option>klamath falls</option><option>medford-ashland</option><option>oregon coast</option><option>portland</option><option>roseburg</option><option>salem</option><option>altoona-johnstown</option><option>cumberland valley</option><option>erie</option><option>harrisburg</option><option>lancaster</option><option>lehigh valley</option><option>meadville</option><option>philadelphia</option><option>pittsburgh</option><option>poconos</option><option>reading</option><option>scranton / wilkes-barre</option><option>state college</option><option>williamsport</option><option>york</option><option>rhode island</option><option>charleston</option><option>columbia</option><option>florence</option><option>greenville / upstate</option><option>hilton head</option><option>myrtle beach</option><option>northeast SD</option><option>pierre / central SD</option><option>rapid city / west SD</option><option>sioux falls / SE SD</option><option>south dakota</option><option>chattanooga</option><option>clarksville</option><option>cookeville</option><option>jackson  </option><option>knoxville</option><option>memphis</option><option>nashville</option><option>tri-cities</option><option>abilene</option><option>amarillo</option><option>austin</option><option>beaumont / port arthur</option><option>brownsville</option><option>college station</option><option>corpus christi</option><option>dallas / fort worth</option><option>deep east texas</option><option>del rio / eagle pass</option><option>el paso</option><option>galveston</option><option>houston</option><option>killeen / temple / ft hood</option><option>laredo</option><option>lubbock</option><option>mcallen / edinburg</option><option>odessa / midland</option><option>san angelo</option><option>san antonio</option><option>san marcos</option><option>southwest TX</option><option>texoma</option><option>tyler / east TX</option><option>victoria </option><option>waco</option><option>wichita falls</option><option>logan</option><option>ogden-clearfield</option><option>provo / orem</option><option>salt lake city</option><option>st george</option><option>vermont</option><option>charlottesville</option><option>danville</option><option>fredericksburg</option><option>hampton roads</option><option>harrisonburg</option><option>lynchburg</option><option>new river valley</option><option>richmond</option><option>roanoke</option><option>southwest VA</option><option>winchester</option><option>bellingham</option><option>kennewick-pasco-richland</option><option>moses lake</option><option>olympic peninsula</option><option>pullman / moscow</option><option>seattle-tacoma</option><option>skagit / island / SJI</option><option>spokane / coeur d'alene</option><option>wenatchee</option><option>yakima</option><option>charleston </option><option>eastern panhandle</option><option>huntington-ashland</option><option>morgantown</option><option>northern panhandle</option><option>parkersburg-marietta</option><option>southern WV</option><option>west virginia (old)</option><option>appleton-oshkosh-FDL</option><option>eau claire</option><option>green bay</option><option>janesville</option><option>kenosha-racine</option><option>la crosse</option><option>madison</option><option>milwaukee</option><option>northern</option> WI</option><option>sheboygan</option><option>wausau</option><option>wyoming</option><option>guam-micronesia</option><option>puerto rico</option><option>U.S. virgin islands</option>
          </select>
          <h5>Experience Level:</h5>
          <select class="" name="level">
            <option>Entry</option>
            <option>Mid</option>
            <option>Senior</option>
          </select>
          <h5>Search Radius:</h5>
          <select class="" name="distance">
            <option>5 miles</option>
            <option>10 miles</option>
            <option>15 miles</option>
            <option>25 miles</option>
            <option>50 miles</option>
            <option>100 miles</option>
            <option>150 miles</option>
          </select>

        </div>
        <button type="submit" class="btn btn-primary btn-lg">Get Results</button>
      </div>
    </div>

    <div class="col-md-8">

      <div class="well">
      <h3 class="text-center">Your Jobs</h3>
        <div class="form-group jobs-well">
          <% Job.all.each do |job| %>
            <h4 class="inline"><a href="<%=job.link%>"><%=job.title%></a></h4>
            <p class="inline"><%=job.company%></p><br>
          <% end %>
        </div>
      </div>
      <div class="well">
        <h3 class="text-center">Suggested Meetups</h3>

        <div class="form-group">
        <% @meetups.first(15).each do |meetup| %>
          <% time = Time.at(meetup.time / 1000) %>
            <h4 class="inline">
              <input class="pin" type="checkbox" name="<%= meetup.id %>" value="pinned"<%= if meetup.pinned then "checked" end %>>
              <a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a>
            </h4>
            <p class="inline"><%= time.strftime("%-m/%-d") %>, <%= meetup.venue_city %></p><br>
        <% end %>
        </div>
      </div>
    </div>
  </form>
</div>
